<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Corrida</title>
    <style>
        body {
            background-color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        div {
            width: 2%;
            height: 50px;
            transition-property: width;
            transition-timing-function: linear;
            transition-duration: 0.5s;
            font-size: 25px;
            display: flex;
            justify-content: flex-end;
        }

        .aviso {
            color: white;
            padding: 10px;
            margin-bottom: 20px;
            font-size: 20px;
            width: 500px;
        }
    </style>
</head>

<body>
    {{{body}}}    
    <script src="/js/corrida.js"></script>
</body>

</html>