<p class="aviso">
    [c] - Iniciar corrida|<button onclick="iniciarCorrida()">ou clique aqui</button><br>
    [z] - Zerar corrida|<button onclick="zerarCorrida()">ou clique aqui</button>
</p>
<div id="c0" style="background-color: cadetblue">
    <img src="/img/carro-1.png" width="100px" height="100%">
</div>
<div id="c1" style="background-color: red">
    <img src="/img/carro-2.png" width="100px" height="100%">
</div>
<div id="c2" style="background-color: yellow">
    <img src="/img/carro-3.png" width="100px" height="100%"></div>
<div id="c3" style="background-color: blue">
    <img src="/img/carro-4.png" width="100px" height="100%">
</div>
<div class="aviso" id="txt-baixo"></div>